/*<meta />*/

/*<meta sourceDocument="C:\Users\pavankumar.giridhar\Downloads\Context Variables.docx" />*/

col.col_1
{
	width: 73pt;
}

col.col_2
{
	width: 97pt;
}

col.col_3
{
	width: 298pt;
}

p.p_1
{
	text-align: center;
	font-weight: bold;
	color: #333333;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #CCCCCC;
	background-color: #auto;
	padding-top: 8pt;
	padding-left: 8pt;
	padding-bottom: 8pt;
	padding-right: 8pt;
	vertical-align: bottom;
}

p.p_2
{
	text-align: center;
	font-weight: bold;
}

td.td_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #CCCCCC;
	background-color: #auto;
	padding-top: 8pt;
	padding-left: 8pt;
	padding-bottom: 8pt;
	padding-right: 8pt;
}

tr.tr_1
{
	height: 30pt;
}

p.p_3
{
	color: #333333;
}

td.td_3
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #CCCCCC;
	background-color: #auto;
	padding-top: 8pt;
	padding-left: 8pt;
	padding-bottom: 8pt;
	padding-right: 8pt;
	vertical-align: middle;
}

p.p_4
{
	background-color: #FBFAF8;
	font-family: 'Courier New';
	color: #333333;
	font-size: 9pt;
}

tr.tr_2
{
	height: 65pt;
}

tr.tr_3
{
	height: 1610pt;
}

a.a_1
{
	color: #333333;
	text-decoration: underline;
}

tr.tr_4
{
	height: 44pt;
}

tr.tr_5
{
	height: 401pt;
}

tr.tr_6
{
	height: 749pt;
}

tr.tr_7
{
	height: 58pt;
}

tr.tr_8
{
	height: 89pt;
}

tr.tr_9
{
	height: 105pt;
}

tr.tr_10
{
	height: 113pt;
}

tr.tr_11
{
	height: 281pt;
}

table.table_1
{
	border-collapse: collapse;
}

